name: deploy

on:
  push:
    branches:
      - dokku
    paths:
      - '.github/workflows/deploy.yml'
      - 'lib/**'
      - '!**/maintainer.js'
      - '!**/radar.js'
      - '!**/radar-rules.js'
      - 'app.json'
      - 'CHECKS'
      - 'Dockerfile'
      - 'package.json'
      - 'Procfile'
      - 'yarn.lock'
  workflow_dispatch: ~

jobs:
  docker:
    name: Build and push Docker image
    runs-on: ubuntu-latest
    outputs:
      meta: ${{ steps.meta.outputs.json }}
      version: ${{ steps.version.outputs.version }}
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Get current version
        id: version
        run: |
          echo "version=sha-$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/${{ github.repository_owner }}/rsshub
          tags: |
            type=sha,prefix=sha-,format=short
            type=raw,value=latest
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha,scope=docker-release
          cache-to: type=gha,mode=max,scope=docker-release

  dokku:
    name: Deploy to dokku host
    needs: docker
    runs-on: ubuntu-latest
    steps:
      -
        name: Set git hash
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.SSH_HOST }}
          username: dokku
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            config:set --no-restart ${{ secrets.DOKKU_APP }} HEROKU_SLUG_COMMIT=${{ github.sha }} SENTRY_RELEASE=${{ needs.docker.outputs.version }}
      -
        name: Build app
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.SSH_HOST }}
          username: dokku
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            git:from-image ${{ secrets.DOKKU_APP }} ${{ fromJson(needs.docker.outputs.meta).tags[1] }}

  sentry:
    name: Create Sentry release
    needs: dokku
    runs-on: ubuntu-latest
    steps:
      -
        name: Create Sentry release
        uses: getsentry/action-release@v1
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
        with:
          environment: production
          version: ${{ needs.docker.outputs.version }}
